
body {
    margin: 0;
    padding: 0;
    background-color: lavender;
}

.center {
    text-align: center;
}

footer {
    background-color: darkgrey;
    padding: 10px;
}

.header {
    background-color: lightblue;
    padding: 5px;
}

.starter-template {
    padding: 5px;
}
