
body {
    padding: 0;
    background-color: lavender;
    max-width: 800px;
    margin: auto;
}

.center {
    text-align: center;
}

.current {
    background-color: lavender;
    color: black;
}

footer {
    background-color: darkgrey;
    padding: 10px;
}

.header {
    background-color: lightblue;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.navbar li a {
    display: block;
    padding: 8px;
    float: left;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {
    background-color: lavender;
    /*text-decoration: none;*/
}

.navbar li {
    /*width: 150px;*/
    float: left;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.showsession {
    min-height: 300px;
}

.starter-template {
    padding: 5px;
}


/* ----- DICE GAME BELOW ----- */

.diceheading {
    margin-left: 10px;
}

.totalscore {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    width: 35%;
    min-height: 162px;
    float: left;
    /*display: inline-block;*/
}

.diceroom {
    width: 4%;
    display: inline-block;

}

.dicegame {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    width: 35%;
    display: inline-block;
}

.dicemessages {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    padding-right: 15px;
    margin: 10px;
    width: 75%;
}

.dicerules {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    padding-right: 15px;
    margin: 10px;
    width: 75%;
}

.restartdice {
    margin-left: 10px;
}

/* ----- DICE GAME ABOVE ----- */

/* ----- LOGGA IN BELOW ----- */

.adminshow {
    border-collapse: collapse;
}

.adminshow td {
    border: 1px solid #A9A9A9;
    text-align: center;
    padding: 4px;
}

.adminshow th {
    border: 1px solid #A9A9A9;
    text-align: left;
    padding: 4px;
}

.adminshow tr:nth-child(even) {
    background-color: #ADD8E6;
}

.clearboth {
    clear: both;
}

.cookiediv {
    border: 2px solid #A9A9A9;
    margin: 40px;
    padding: 10px;
    width: 50%;
}

.leftmargin {
    margin-left: 40px;
}

.navblue {
    background-color: lightblue;
}

.profilediv {
    min-height: 400px;
}

.profilename {
    margin-bottom: 5px;
}

.profilepicture {
    float: left;
}

.profiletable td {
    padding-left: 3px;
}

.profileul {
    list-style-type: none;
}

.rightmargin {
    margin-right: 40px;
}


/* ----- LOGGA IN ABOVE ----- */





@media (max-width: 550px) {
    .cookiediv {
        width: 70%;
    }
}
